
@import models.admin._

@item_handler( item: Any ) = {
	@item match {

		case MenuItemWithTitle(title) => {
			<li class="nav-header">
				@title
			</li>
		}

		case MenuItemWithRoute(title, url) => {
			<li>
				<a href="@url">@title</a>
			</li>
		}	

		case MenuItemWithIcon(title, url, icon) => {
			<li>
			<a href="@url">
				<i class="@icon"></i>
				@title
			</a>
			</li>
		}

		case MenuItemWithChildren(title, url, icon, children) => {
			<li>
			<a href="@url">
				<i class="@icon"></i>
				@title
			</a>

				<ul class="nav">
					@children.map { child =>
						@item_handler(child)
					}
				</ul>
			</li>
		}

	}
}

<div class="well" style="padding: 8px 0;">
	<ul id="main_menu" class="nav nav-list">
		@models.admin.SiteMap.items.map { item =>
			
			@item_handler(item = item)

		}
	</ul>
</div>