@(roles: Seq[Role])(implicit request: RequestHeader)

@main("Roles") {
	
	<div class="page-header">
		<h1>Roles</h1>
	</div>

	@if(request.flash.get("success").isDefined) {
		@partials.notice("success", request.flash.get("success").get)
	}
	@if(request.flash.get("error").isDefined) {
		@partials.notice("error", request.flash.get("error").get)
	}
	

	<table class="table table-striped table-bordered table-condensed">
		<thead>
			<tr>
				<th>Title</th>
				<th>Description</th>
				<th>Actions</th>
			</tr>
		</thead>

		<tbody>

			@roles.map { role => 
				<tr>
					<td>@role.title</td>
					<td>
						@role.description
					</td>
					<td class="actions">
						<a href="@routes.Roles.edit(role.id.get)" title="Edit"><i class="icon-pencil"> </i></a> -
						<a href="@routes.Roles.delete(role.id.get)" class="delete-btn"  title="Delete"><i class="icon-trash"> </i></a>
					</td>
				</tr>
			}
		</tbody>

		<tfoot>
			<tr>
				<td colspan="3">
					<a href="@routes.Roles.create()"><i class="icon-plus"> </i> Create new Role</a>
				</td>
			</tr>
		</tfoot>
	</table>

}