@(id: Long, userForm: Form[User])

@import models._
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(formHelpers.text.f) }

@user = @{ User.findById(id).get }

@main("Edit user") {
	
	<div class="page-header">
		<h1>Edit user</h1>
	</div>

	<div class="tabbable">
		<ul class="nav nav-tabs">
	  		<li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>

	  		@if(user.player.isDefined) {
	  			<li><a href="#edit_player" data-toggle="tab">Player</a></li>
			} else {
				<li><a href="#add_player" data-toggle="tab">Player</a></li>
			}

	  		<li><a href="#permissions" data-toggle="tab">Permissions</a></li>
	  		<li><a href="#change-password" data-toggle="tab">Password</a></li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane active" id="profile">
				@accounts.forms.profile(id, userForm)
			</div>
	
			<div class="tab-pane" id="edit_player">
				Has playahh
			</div>

			<div class="tab-pane" id="add_player">
				has not a playahh
			</div>

			<div class="tab-pane" id="permissions">
				@accounts.forms.addRole(id)
			</div>

			<div class="tab-pane" id="change-password">
				@inputPassword(userForm("password"), '_label -> "Password")
			</div>

		</div>
	</div>
}