@(id: Long, userForm: Form[User])

@import models._
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(formHelpers.text.f) }

@main("Edit user") {
	
	<div class="page-header">
		<h1>Edit user</h1>
	</div>

	<div class="tabbable">
		<ul class="nav nav-tabs">
	  		<li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
	  		<li><a href="#permissions" data-toggle="tab">Permissions</a></li>
	  		<li><a href="#change-password" data-toggle="tab">Password</a></li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane active" id="profile">
				@helper.form(routes.Accounts.update(id)) {
					
					@inputText(userForm("username"), '_label -> "Username")
					@inputPassword(userForm("password"), '_label -> "Password")

					<button class="btn" type="submit" id="createbutton">Save</button>
					
				}
			</div>

			<div class="tab-pane" id="permissions">
				@helper.form(routes.Accounts.addRoleToUser(id)) {

					@Role.findAll.map { role =>
						<p>
							<input type="checkbox"
							value="@role.id.get" 
							name="ids[@role.id.get]"
							@if(Role.hasUser(role.id.get, id)) {
								checked="true"
							}
							/> @role.title
						</p>
					}

					<button class="btn" type="submit" id="createbutton">Save</button>
				}
			</div>

			<div class="tab-pane" id="change-password">
				@inputPassword(userForm("password"), '_label -> "Password")
			</div>

		</div>
	</div>
}